.button {
  width: 100%;
  height: 44px;

  font: inherit;
  font-size: 1.2em;
  font-weight: 500;
  color: var(--color-white);

  background-color: var(--color-primary);
  border: 0;
  border-radius: 6px;

  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.button:focus,
.button:focus-visible {
  outline: 2px solid var(--color-outline);
  outline-offset: 2px;
}

.button:focus:not(:focus-visible) {
  outline: none;
}
